har_and_cookies/
temp.py
temp2.py
output.mp3
output2.mp3
output.md
__pycache__/config.cpython-313.pyc
sounds/
output.md
backups/test.md
piecesAndExamples/TTS_speed.py
/myenv
CustomAI.code-workspace
/__pycache__
/app/__pycache__
/app/customCommands/__pycache__
/app/public/__pycache__
