har_and_cookies/
temp.py
temp2.py
temp3.py
output.mp3
output2.mp3
output.md
backups/test.md
piecesAndExamples/TTS_speed.py
/myenv
CustomAI.code-workspace
output_fast.mp3
context_memory.json
**/__pycache__
draw.py
/venv
/temp
/local
